// Khai báo font chữ
@font-face {
    font-family: "SquidGame";
    src: url('@/assets/font/SquidGame.ttf');
}
@font-face {
    font-family: "Notosans-Bold";
    src: url('@/assets/font/notosans-bold.woff2');
}
@font-face {
    font-family: "Notosans-Italic";
    src: url('@/assets/font/notosans-italic.woff2');
}
@font-face {
    font-family: "Notosans-Regular";
    src: url('@/assets/font/notosans-regular.woff2');
}
@font-face {
    font-family: "Notosans-Semibold";
    src: url('@/assets/font/notosans-semibold.woff2');
}

// Tạo các class để css font chữ nhanh 
.ff-squidgame {
    font-family: SquidGame;
}
.ff-bold {
    font-family: Notosans-Bold;
}